* {
box-sizing: border-box;
margin: 0;
}

#container {
max-width: 1300px;
margin: 0 auto;
}

header {
background: purple;
padding: 30px;
}

.logo {
background: url('../images/logo.png') no-repeat;
width: 200px;
padding: 50px;
}